obj/
*.o
*@
imgui.ini
*__pycache__/
media/ 
.cache
.elinks*
.ipynb*
.jupyter*
.links*
.w3m*
.local*
*.sql*
temp*
Tex*
.bash*
main.cpp-e
video-course-geometry
board-gpu-bin
delete*
MANIM/media
ONLY_MATHS
ONLY_PHYSICS
ONLY_CHEMISTRY
ONLY_PROGRAMMING
video-course-channels-maths-bin
video-course-physic-bin
video-course-chemistry-bin
video-course-maths-bin
video-course-programming-bin
video-course-machine-learning-bin
video-course-mysql-learning-bin
video-course-channels-generic-bin
video-course-devsops-bin
.ipython*
.vscode
*bash_history*
videos*
images/
media/
Tex/
texts/
*obj/*
ONLY_BOARD_MATHS/
*SVG_IMG/
Tle 
1ere
video-course-channels-generic-bin
video-course-channels-maths-bin
